*.class

#package file
*.war
*.ear

#kdiff3 ignore
*.orig

#maven igonre
target/

#eclipse ignore
.settings/
.project
.classpath

#idea
.idea/
/idea/
*.ipr
*.iml
*.iws

#temp file

*.log
*.cache
*.diff
*.patch
*.tmp

#system_igonre
.DS_Store
Thumbs.db