<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

    <!--1、配置扫描包，加载进bean过滤掉@controller类的注解-->
    <context:component-scan base-package="com.ren">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"></context:exclude-filter>
    </context:component-scan>

    <!--加载我们的数据库所需的配置文件-->
    <context:property-placeholder location="classpath:dbconfig.properties"></context:property-placeholder>

    <!--配置数据源-->
    <bean id="pooledDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <!-- url -->
        <property name="jdbcUrl" value="${jdbc.url}"></property>
        <!-- 驱动 -->
        <property name="driverClass" value="${jdbc.driverClass}"></property>
        <!-- 用户名 -->
        <property name="user" value="${jdbc.username}"></property>
        <!-- 密码 -->
        <property name="password" value="${jdbc.password}"></property>
    </bean>

    <!--配置sqlSessionFactory整合Mybatis-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 加载mybatis的全局配置文件 -->
        <property name="configLocation" value="classpath:mybatisConfig.xml"></property>
        <!-- 数据库连接池 -->
        <property name="dataSource" ref="pooledDataSource"></property>
        <!--自动扫描mapper.xml文件-->
        <property name="mapperLocations" value="classpath:mapper/*.xml"></property>
    </bean>

    <!-- 配置mapper扫描器 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.ren.dao"></property>
    </bean>
</beans>