@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #222;
}

.reveal {
    position: relative;
    display: flex;
    white-space: pre;
    color: #6ee1f5;
    letter-spacing: 3px;
    font-size: 2em;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
}
.reveal span {
    transform: scale(0);
    opacity: 0;
    animation: fadeIn 2.4s forwards;
}
.reveal::before, .reveal::after {
    position: absolute;
    content: "";
    background: white;
    width: 2px;
    height: 100%;
    top: 0;
    bottom: 0;
    transform: scale(0);
    opacity: 0;
}
.reveal::before {
    left: 50%;
    animation: slideLeft 1.5s cubic-bezier(0.7, -0.6, 0.3, 1.5) forwards;
}
.reveal::after {
    right: 50%;
    animation: slideRight 1.5s cubic-bezier(0.7, -0.6, 0.3, 1.5) forwards;
}

@keyframes fadeIn {
    to {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes slideLeft {
    to {
        left: -6%;
        transform: scale(0.9);
        opacity: 1;
    }
}
@keyframes slideRight {
    to {
        right: -6%;
        transform: scale(0.9);
        opacity: 1;
    }
}

.btn-wrapper {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 60%;
    left: 50%;
    display: flex;
    width: 300px;
    flex-wrap: wrap;
}
.btn-wrapper button {
    display: block;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;
    border: none;
    padding: 20px 50px;
    background: #3ef5bc;
    color: white;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 20px;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    transition: all ease 250ms;
}
.btn-wrapper button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.btn-wrapper button.blue {
    background: #559cf9;
}
.btn-wrapper button.disabled {
    background: transparent;
    border: 1px solid #d2d2d2;
    color: #d2d2d2;
    box-shadow: none;
    opacity: 0.8;
    pointer-events: none;
}
.btn-wrapper button #circle {
    position: absolute;
    width: 50%;
}
.btn-wrapper button #circle:before {
    display: block;
    animation-duration: 500ms;
    animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
    animation-name: clicked;
    content: "";
    transition: all ease 250ms;
    background: black;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 50%;
    opacity: 0;
}

@keyframes clicked {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 0;
    }
}

