<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ren.dao.LoginInsertMapper">
    <!--实体类和数据库的字段映射 -->
    <resultMap type="com.ren.bean.LoginInformation" id="LoginInfoResult">
        <result property="userName" column="userName" jdbcType="VARCHAR"/>
        <result property="loginTime" column="loginTime" jdbcType="VARCHAR"/>
    </resultMap>
    <insert id="insertLoginInfo" parameterType="com.ren.bean.LoginInformation">
        insert into logininfo (userName,loginTime) values (#{userName},#{loginTime});
    </insert>
</mapper>